@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  reset
*/

@font-face {
  font-family: 'Lexend Deca';
  src: url('/LexendDeca.ttf') format('truetype');
}

html {
  font-size: 16px;
  font-family: 'Lexend Deca', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  width: 100%;
  overflow-x: hidden;
}

:root {
  --color-purple: #6F2C87;
  --color-purple-dark: #4D1960;
  --color-purple-light: #8E4FA5;

  --color-bg-secondary: #F3E3F7;
}

/*
  Light Theme
*/
[data-theme='light'] {
  --color-bg-primary: #fff;
  --color-text: #989090;
}

/*
  Dark Theme
*/
[data-theme='dark'] {
  --color-text: white;
  --color-bg-primary: #323644;
}


.float-label-input {
  margin: 32px 0;
}

.float-label-input:focus-within label,
.float-label-input input:not(:placeholder-shown)+label {
  transform: translateY(-1.5rem) scale(0.75);
  background-color: var(--color-bg-primary);
}

body {
  background-color: var(--color-bg-primary);
}